.country-detail{

    &__container {
        border: 1px solid lightgray;
    }

    &__row {
        padding-top: 15px;

        .btn-default {
            border: 1px solid lightgray;
            top: 45%;
        }
    }

    &__flag-img {
        max-height: 150px;
        top: 5%;
        max-width: 350px;
    }

    &__button-row {
        padding-top: 20px;
        padding-bottom: 15px;
    }

    &__button-save {
        margin-left: 15px;
        float: right;
    }

    &__close {
        position: relative;
        right: -455px;
        top: 5px;
    }
}