.country-detail__container {
  border: 1px solid lightgray; }

.country-detail__row {
  padding-top: 15px; }
  .country-detail__row .btn-default {
    border: 1px solid lightgray;
    top: 45%; }

.country-detail__flag-img {
  max-height: 150px;
  top: 5%;
  max-width: 350px; }

.country-detail__button-row {
  padding-top: 20px;
  padding-bottom: 15px; }

.country-detail__button-save {
  margin-left: 15px;
  float: right; }

.country-detail__close {
  position: relative;
  right: -455px;
  top: 5px; }
