.visitor-container{
  padding-right: 0px;

  .visitor-list {
      background-color: white;
      text-align: center;
      min-height: 65vh;
  
      .visitor-list-title {
        padding: 10px 20px 0
      }
  }
}
